<% layout('layouts/admin') -%>
<main>
    <section>
      <div class="rad-body-wrapper">
        <div class="container-fluid">
          <h3>Đây là trang quản trị dành cho Admin</h3>
        </div>
      </div>
    </section>
</main>