<form action="/category/<%= categori._id%>" method="GET">
    <fieldset>
		<legend>Search</legend>
		<label for="search">Search</label>
		<input type="text" id="search" placeholder="Search" name="search" value="<%= query.search %>">
    </fieldset>
    <input type="submit">
</form>