<div class="left-nav">
    <div class="avatar-info">
        <div class="avatar-img">
            <img src="<%= currentUser.image.secure_url %>" alt="" width="100%" height="100%">
        </div>
        <div class="name">
            <p><i class="fa fa-user"></i> <%= currentUser.username %></p>
        </div>
        <div class="phone-number">
            <p><i class="fa fa-phone"></i> <%= currentUser.phone %></p>
        </div>
        <div class="email">
            <p><i class="fa fa-envelope-o"></i> <%= currentUser.email %></p>
        </div>
        <div class="mxh">
            <p><i class="fa fa-facebook"></i></p>
            <p><i class="fa fa-instagram"></i></p>
            <p><i class="fa fa-twitter"></i></p>
        </div>
        <div class="edit-profile">
            <a href="/profile"><p style="color: white;"><i class="fa fa-cogs"></i> Chỉnh sửa hồ sơ</p></a>
        </div>
    </div>
    <div class="contact-emp">
        <a href="/user"><p><i class="fa fa-folder-open"></i> Quản lý bài đăng</p></a>
    </div>
    <div class="contact-emp">
        <a href="/forgot-password"><p><i class="fa fa-key"></i> Thay đổi mật khẩu</p></a>
    </div>
    <div class="contact-emp">
        <div>
            <p style="padding: 0;">Nhân viên hỗ trợ</p>
        </div>
        <div>
            <p class="left-admin"><i class="fa fa-users"></i> Nguyen Hoang An</p>
        </div>
        <div>
            <p class="left-admin"><i class="fa fa-phone"></i> 0973192195</p>
        </div>
        <div>
            <p class="left-admin"><i class="fa fa-envelope-o"></i> kishiz094@gmail.com</p>
        </div>
    </div>
</div>