<h1>newCate</h1>
<form action="/admin/category/new" method="POST">
    <label for="">Ten san pham</label>
    <input type="text" name="category[name]" id="name">
    <input type="text" name="category[slug]" id="slug" placeholder="phong-tro">
    <input type="number" name="category[status]" id="status" value="1" hidden>
    <input type="submit">
</form>