<h1>dsvsdvdvdsvsd</h1>
<% rekv.forEach(function(k) { %>
        <div>
            <h2><%= k.name %></h2>
            <div><a href=""><%= k.status %></a></div>
            <div><img src="<%= k.url %>" alt=""></div>
             
            <div><a href="/admin/khuvuc/<%= k.id %>">Viewmore</a></div>
        </div>
    
 <% }); %>