<h1>dsvsdvdvdsvsd</h1>
<% kvend.forEach(function(k) { %>
        <div>
            <h2><%= k.name %></h2>
            <div><a href=""><%= k.status %></a></div>
            <div><%= k.fathername %></div>
            <div><img src="<%= k.url %>" alt=""></div>
        </div>
    
 <% }); %>