<h1>newCate</h1>
<form action="/admin/khuvuc/new2" method="POST" enctype="multipart/form-data">
    <label for="">Ten san pham</label>
    <input type="text" name="reviewkv2[name]" id="name">
    <input type="text" name="reviewkv2[slug]" id="slug" placeholder="phong-tro">
    <input type="text" name="reviewkv2[fathername]" id="fathername">
    <input type="number" name="reviewkv2[status]" id="status" value="1" hidden>
    <input type="file" accept="images/*" name="images" multiple />
    <input type="submit">
</form>