<h1>newCate</h1>
<form action="/admin/khuvu/new3" method="POST" enctype="multipart/form-data">
    <label for="">Ten san pham</label>
    <input type="text" name="reviewkv3[name]" id="name" placeholder="ten phuong">
    <input type="text" name="reviewkv3[slug]" id="slug" placeholder="phong-tro">
    <input type="text" name="reviewkv3[fathername]" id="fathername" placeholder="quan 1">
    <input type="text" name="reviewkv3[grandfathername]" id="" placeholder="qtphcm">
    <input type="number" name="reviewkv3[priceSellMin]" id="" placeholder="1">
    <input type="number" name="reviewkv3[priceSellMax]" id="" placeholder="1">
    <input type="number" name="reviewkv3[priceRentMin]" id="" placeholder="1">
    <input type="number" name="reviewkv3[priceRentMax]" id="" placeholder="1">
    cua hang tien loi<input type="number" name="reviewkv3[option[mart]]">
    tram y te<input type="number" name="reviewkv3[option[hopital]]">
    sieu thi<input type="number" name="reviewkv3[option[superMarket]]">
    trung tam thuong mai<input type="number" name="reviewkv3[option[superMall]]">
    nha tre mau giao<input type="number" name="reviewkv3[option[school_1]]">
    trung hoc pho thong<input type="number" name="reviewkv3[option[school_2]]">
    bank_ATM<input type="number" name="reviewkv3[option[bank_ATM]]">
    <input type="number" name="reviewkv2[status]" id="status" value="1" hidden>
    <input type="file" accept="images/*" name="images" multiple />
    <input type="submit">
</form>
